.field {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    padding: 30pt;
    gap: 150pt;
    
}

.box {
    border: 1px solid grey;
    border-radius: 5pt;
    text-align: center;
    box-shadow: 5pt 5pt 10pt black;
    padding-bottom: 10pt;

}

.box img {
    border-bottom: 1px solid grey;
    border-radius: 4pt 4pt 0pt 0pt;
    width: 150pt;
    height: 150pt;
}

button {
    color: white;
    text-decoration: none;
}

button:hover{
    color: #0d6efd;
    cursor: pointer;
}

.myButton {
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 3pt;
    padding: 3pt;
    margin-top: 10pt;
}

.myButton:hover {
    background-color: white; 
    border-color: #0d6efd;
    border-radius: 3pt;
    padding: 3pt;
}

